<h1><a href="/people/">People</a></h1>
{{#each foo}}
{{this}}
{{/each}}


<div>
<h3> Add Company to Attend an Event </h3>

    <form id="add_event" action="/list_of_events" method="post">
    Events: <select name='Event'>
        {{#each events}}
          <option value='{{id}}'>{{name}}</option>
        {{/each}}
    </select>
    <br>
    Companies:<select name="Company">
        {{!-- We display title but the value that is submitted through the form is actually the certificate's id --}}
        {{#each companies}}
          <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    <input type="submit" value="Submit">
    </form>

</div>
<br/>

<h3> Companies Attending All Events </h3>
<table>
    <thead>
        <th>Name</th>
        <th>Certificate</th>
    </thead>
    <tbody>
        {{#each companies_at_events}}
        <tr>
            <td>{{company}}</td>
            <td>{{event}}</td>
        </tr>
        {{/each}}

    </tbody>
</table>
