<h2><a href="/people/">People</a></h2>
<h2><a href="/student_attend/">Students attending</a></h2>
<hr>
{{#each foo}}
{{this}}
{{/each}}


<div>
<h3> Add Company to Attend an Event </h3>

    <form id="add_event" action="/list_of_events" method="post">
    Events: <select name='eventID'>
        {{#each events}}
          <option value='{{eventID}}'>{{name}}</option>
        {{/each}}
    </select>
    <br>
    Companies:<sup>Multi-select</sup><select multiple name="companyID">
        {{!-- We display title but the value that is submitted through the form is actually the certificate's id --}}
        {{#each companies}}
          <option value="{{companyID}}">{{name}}</option>
        {{/each}}
    </select><br>
    <input type="submit" value="Submit">
    </form>

</div>
<br/>

<h3> Companies Attending All Events </h3>
<table border="1">
    <thead>
        <th>Company</th>
        <th>Location of Company</th>
        <th>Majors Company is Searching For</th>
        <th>Event</th>
    </thead>
    <tbody>
        {{#each companies_at_events}}
        <tr>
            <td>{{company}}</td>
            <td>{{location}}</td>
            <td>{{hiring_major}}</td>
            <td>{{event}}</td>

            <td><button onclick="deleteCompany({{eventID}},{{companyID}})">Delete</button></td>
        </tr>
        {{else}}
        <b> No companies attending. </b>
        {{/each}}

    </tbody>
</table>
