<h2><a href="/list_of_events/">Companies attending</a></h2>
<h2><a href="/student_attend/">Students attending</a></h2>
<h2>Students</h2>
{{#each foo}}
{{this}}
{{/each}}
<table border="1">
    <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>GPA</th>
        <th>Graduation Date</th>
        <th>Major</th>
        <th>University</th>
    </thead>
    <tbody>
        {{#each people}}
        <tr>
            <td>{{first_name}}&nbsp</td>
            <td>{{last_name}}&nbsp</td>
            <td>{{GPA}}&nbsp</td>
            <td>{{graduation_date}}&nbsp</td>
            <td>{{major}}&nbsp</td>
            <td>{{university}}</td>

            <td><button onclick="deletePerson({{id}})">Delete</button></td>
            <td><a href="/people/{{id}}">Update</a></td>
        </tr>
        {{/each}}
    </tbody>


    <form id="addperson" action="/people/student" method="post">
    First name: <input type="text" name="first_name"><br>
    Last name: <input type="text" name="last_name"><br>
    GPA: <input type="number" step="0.01" name="GPA" min="0" max="4"><br>
    Graduation date: (e.g. 2018-09-10) <input type="date" name="graduation_date"><br>
    Major: <input type="text" name="major"><br>
    University: <select name="university">
        {{#each univs}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    <input type="submit" value="Submit">
    </form>


</table>

<h3>Filer Students by University:</h3>
<form id="filterpeople" action="/people/" method="post">
University: <select name="university">
    <option value=0>Show All</option>
    {{#each univs}}
    <option value="{{id}}">{{name}}</option>
    {{/each}}
</select><br>
<input type="submit" value="Submit">
</form>



<h2>Events</h2>
<table border="1">
    <thead>
        <th>Name</th>
        <th>Location</th>
        <th>Date</th>
        <th>Hosted at: </th>
    </thead>
    <tbody>
        {{#each events}}
        <tr>
            <td>{{name}}&nbsp</td>
            <td>{{location}}&nbsp</td>
            <td>{{date}}&nbsp</td>
            <td>{{university}}&nbsp</td>

            <!--
            <td><button onclick="deletePerson({{id}})">Delete</button></td>

            <td><a href="/people/{{id}}">Update</a></td>
          -->
        </tr>
        {{/each}}
    </tbody>

    <form id="addevent" action="/people/event" method="post">
      Name: <input type="text" name="name"><br>
      Location: <input type="text" name="location"><br>
      Event date: (e.g. 2018-09-10) <input type="date" name="date"><br>
      Hosted At: <select name="university">
          {{#each univs}}
          <option value="{{id}}">{{name}}</option>
          {{/each}}
      </select><br>
      <input type="submit" value="Submit">
    </form>

</table>

<h2>Add A New University</h2>

<form id="adduniversity" action="/people/university" method="post">
  Name of university: <input type="text" name="name"><br>
  Location: <input type="text" name="location"><br>
  </select><br>
  <input type="submit" value="Submit">
</form>
