<h1>Current people:</h1>
<h2>Students</h2>
{{#each foo}}
{{this}}
{{/each}}
<table>
    <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>GPA</th>
        <th>Graduation Date</th>
        <th>Major</th>
        <th>University</th>
    </thead>
    <tbody>
        {{#each people}}
        <tr>
            <td>{{first_name}}&nbsp</td>
            <td>{{last_name}}&nbsp</td>
            <td>{{GPA}}&nbsp</td>
            <td>{{graduation_date}}&nbsp</td>
            <td>{{major}}&nbsp</td>
            <td>{{university}}</td>

            <td><button onclick="deletePerson({{id}})">Delete</button></td>
            <td><a href="/people/{{id}}">Update</a></td>
        </tr>
        {{/each}}
    </tbody>


    <form id="addperson" action="/people" method="post">
    First name: <input type="text" name="first_name"><br>
    Last name: <input type="text" name="last_name"><br>
    GPA: <input type="float" name ="GPA"><br>
    Graduation date: (e.g. 2018-09-10) <input type="text" name="graduation_date"><br>
    Major: <input type="text" name="major"><br>
    University: <select name="university">
        {{#each univs}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    <input type="submit" value="Submit">
    </form>


</table>

<h3>Events</h3>
<table>
    <thead>
        <th>Name</th>
        <th>Location</th>
        <th>Date</th>
        <th>Hosted at: </th>
    </thead>
    <tbody>
        {{#each events}}
        <tr>
            <td>{{name}}&nbsp</td>
            <td>{{location}}&nbsp</td>
            <td>{{date}}&nbsp</td>
            <td>{{university}}&nbsp</td>

            <td><button onclick="deletePerson({{id}})">Delete</button></td>
            <!--
            <td><a href="/people/{{id}}">Update</a></td>
          -->
        </tr>
        {{/each}}
    </tbody>
  <!--
    <form id="addperson" action="/people" method="post">
    First name: <input type="text" name="first_name"><br>
    Last name: <input type="text" name="last_name"><br>
    GPA: <input type="float" name ="GPA"><br>
    Graduation date (IE: 2018-09-10) <input type="text" name="graduation_date"><br>
    Major <input type="text" name="major"><br>
    <input type="submit" value="Submit">
    </form>
  -->
</table>
