<h1>Current people:</h1>
<h1>Handlebars JS Example</h1>
{{#each foo}}
{{this}}
{{/each}}
<table>
    <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>GPA</th>
        <th>Graduation Date</th>
        <th>Major</th>
    </thead>
    <tbody>
        {{#each people}}
        <tr>
            <td>{{first_name}}</td>
            <td>{{last_name}}</td>
            <td>{{GPA}}</td>
            <td>{{graduation_date}}</td>
            <td>{{major}}</td>

            <td><button onclick="deletePerson({{id}})">Delete</button></td>
            <td><a href="/people/{{id}}">Update</a></td>
        </tr>
        {{/each}}
    </tbody>


    <form id="addperson" action="/people" method="post">
    First name: <input type="text" name="first_name"><br>
    Last name: <input type="text" name="last_name"><br>
    GPA: <input type="float" name ="GPA"><br>
    Graduation date (IE: 2018-09-10) <input type="text" name="graduation_date"><br>
    Major <input type="text" name="major"><br>
    <input type="submit" value="Submit">
    </form>


</table>
